---
import "@/styles/globals.css";
import RootLayout from "@/layouts/root.astro";
import { Button } from "@/components/ui/button";
import Hero from "@/components/hero";
---

<!-- https://dribbble.com/shots/24805738-NATURELY-Travel-Landing-Page -->
<RootLayout>
  <main class='flex min-h-screen flex-col items-center px-10'>
    <Hero client:load />
    <Button asChild>
      <a class='color-red' href='/wiki'>Docs</a>
    </Button>
  </main>
</RootLayout>
